{% extends "coltrane/base.html" %}

{% block title %}{{ block.super }} | Entries{% endblock %}

{% block right-sidebar %}{{ block.super }} 
    <div class="sidebar-block">
        <h3>博客分类</h3>
        {% load coltrane_tags %}
        {% categories_for_model coltrane.entry as entry_categories with counts %}
        <ul class="category-list">
        {% for category in entry_categories %}
        	{% if category.count %}
			<li>
				<a href="{{ category.get_absolute_entries_url }}">{{ category.title }} ({{ category.count }})</a>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
    </div>
    <div class="sidebar-block">
        <h3>最新博文</h3>
        {% load coltrane_tags %}
        {% get_latest_content coltrane.entry 10 as latest_entries %}
        <ul class="latest-entries-list">
            {% for entry in latest_entries %}
            <li>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-block">
        <h3>标签云</h3>
        {% load tagging_tags %}
        {% tag_cloud_for_model coltrane.entry as entry_tags with steps=9 min_count=2 distribution=log %}
        {% for tag in entry_tags %}
            <a href="{% url coltrane_entry_archive_tag tag.name %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
{% endblock %}
