{% extends "base.html" %}

{% block content %}
<h2>About me</h2>

<p>嘿嘿，欢迎来到这儿，称呼我Jason就行啦，目前在京城读硕士，喜欢安静的看书，属于典型的阳光宅男，爱好折腾互联网，缺点就是反应慢，不过笨鸟先飞嘛，肯下功夫就是好同志嘛。</p>
<p>这个空间用来记录学习的点滴，谁叫俺对技术充满了热情呢，总觉得好奇，总想着去试试，不怕困难，勇往直前，试验成功后总会很有成就感。</p>
<p>对于技术：特别爱好Linux（偶用Fedora），特别爱好Python，每天必看开源方面的新闻，碰到感兴趣的就收藏尝试。</p>
<p>对于生活：美食控，走路狂，热衷欺负大琼琼。爱家里的每一个人。还有很多很多，总之享受生活的每一天。</p>

<h2>Find Me</h2>

<ul>
	<li><a href="http://www.douban.com/people/applesun">豆瓣</a></li>
	<br />
	<li><a href="http://t.sina.com.cn/1903514541">新浪微博</a></li>
	<br />
	<li><a href="http://twitter.com/ysunbj">Twitter</a></li>
</ul>

{% endblock %}

{% block right-sidebar %}
    <div class="image-block"><img src="../../../../media/images/jason.jpg" alt="Profile Picture" /></div>
    {{ block.super }}
{% endblock %}

