{% extends "base.html" %}

{% block content %}
<h2>About me</h2>
<p>嘿嘿，欢迎来到这儿，称呼我Jason就行啦，目前在京城攻读计算机硕士学位，喜欢安静的看书，爱好折腾互联网，热衷体验互联网中的新兴技术，算是宅男吧，但是很阳光，哈哈</p>
<p>这个空间用来记录学习技术的点滴，谁叫俺对Tech充满了热情呢，遇到新鲜的事物总觉得好奇，总想着去试试，学习技术的最佳途径就是勤动手，多思考，练习练习再练习。</p>
<p>Tech：特别爱好Linux（偶用Fedora），特别爱好Python，每天必看开源方面的新闻，碰到感兴趣的就收藏尝试。</p>
<p>Life：爱家人爱朋友，喜欢欺负大琼琼（女友），美食控，走路狂，篮球迷，实况足球爱好者。</p>

<h2>网络足迹</h2>
<ul>
	<li><a href="http://www.douban.com/people/applesun">豆瓣</a></li>
	<br />
	<li><a href="http://twitter.com/ysunbj">Twitter</a></li>
    <br />
    <li><a href="http://www.sunyang.tk/">Tumblr</a></li>
</ul>
{% endblock content %}

{% block right-sidebar %}
    <div class="image-block"><img src="../../../../media/images/jason.jpg" alt="Profile Picture" /></div>
    <div class="sidebar-block">
        <iframe width="100%" height="450" class="share_self" frameborder="0" scrolling="no" src="http://service.t.sina.com.cn/widget/WeiboShow.php?width=0&height=450&fansRow=2&ptype=1&speed=50&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1903514541&verifier=1ffb20ec"></iframe>
    </div>
{% endblock right-sidebar %}
