<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Jason's Blog{% endblock %}</title>
    
    <link rel="stylesheet" href="/media/css/base.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/media/css/blog.css" type="text/css" media="screen, projection">
    <link rel="shortcut icon" href="https://www.dotcloud.com/static/images/icon.png">
    <link rel="alternate" type="application/atom+xml" title="Latest Entries" href="/feeds/latest/" />
</head>
<body>
    <div class="header">
        <div id="logo">
            <h1>Jason's Space</h1>
        </div>
        <div id="navigation">
            <a href={% url coltrane_entry_archive %}>Blog</a>
            <a href={% url coltrane_link_archive %}>Links</a>
            <a href="/about/">About</a>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div id="detail">
                {% block content %}
                {% endblock %}
            </div>
            <div id="comment">
                {% block comments %}
                {% endblock %}
            </div>
        </div>
        <div id="right-sidebar">
            {% block right-sidebar %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <p>Copyright©2011 <a href="http://blog.glutton.dotcloud.com">Jason's Space</a></p>
        <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a> hosted by <span><a href="http://www.dotcloud.com">Dotcloud</a></span>
    </div>
</body>
</html>
